form.form(role="form" ng-submit="doSaveSubject(subjectForm.$valid)" name="subjectForm" novalidate)
    .panel
        .panel__head
            h3.panel__head__title {{title}}
        .panel__body
            .form__group
                .col--sm-2
                    label.form__label(for="subjectTitleJa") 名前
                .col--sm-10
                    input.form__control(
                        type="text"
                        name="title_ja"
                        ng-model="newSubject.title_ja"
                        required
                        ng-change="errors.title_ja = null"
                        id="subjectTitleJa"
                        force-invalid="errors.title_ja"
                        placeholder="名前(日本語)")
                    div(ng-show="subjectForm.title_ja.$dirty")
                        .form__error(ng-show="subjectForm.title_ja.$error.required") 入力必須項目です
                    div
                        .form__error(ng-if="!!errors.title_ja" ng-repeat="error in errors.title_ja") {{error}}

            .form__group
                .col--sm-2
                    label.form__label(for="subjectTitleEn") 名前(英語)
                .col--sm-10
                    input.form__control(
                        type="text"
                        name="title_en"
                        ng-model="newSubject.title_en"
                        required
                        ng-pattern="/^[0-9a-z_]+$/"
                        ng-change="errors.title_en = null"
                        id="subjectTitleEn"
                        force-invalid="errors.title_en"
                        placeholder="/^[0-9a-z_]+$/")
                    div(ng-show="subjectForm.title_en.$dirty")
                        .form__error(ng-show="subjectForm.title_en.$error.required") 入力必須項目です
                        .form__error(ng-show="!subjectForm.title_en.$error.required && subjectForm.title_en.$error.pattern") 数字、小文字英字もしくは_(アンダーバー)で入力してください
                    div
                        .form__error(ng-if="!!errors.title_en" ng-repeat="error in errors.title_en") {{error}}

        .panel__foot
            .clearfix
                .pull-left
                    div(ng-if="editing")
                        a.btn(ui-sref="admin.subject.detail({id: subject.id})" tabindex="-1") 編集をやめる
                .pull-right
                    button.btn.btn--primary(type="submit" ng-disabled="subjectForm.$invalid") 保存

