.hero
    .hero__bg

    .hero__login(ng-if="!Auth.active()")
        form.form(name="form" ng-submit="performLogin()" novalidate)
            .form__group
                input.form__control(
                    type="email"
                    name="email"
                    ng-model="credencials.email"
                    required
                    ng-change="error = null"
                    placeholder="Email address")

            .form__group
                input.form__control(
                    type="password"
                    name="password"
                    ng-model="credencials.password"
                    required
                    force-invalid="error"
                    ng-change="error = null"
                    placeholder="Password")

            .form__group(ng-show="error")
                .form__error メールアドレスかパスワードに誤りがあります。

            .form__group
                input.form__control(type="checkbox" ng-model="keepLogin.a" id="homeInputKeeplogin")
                label.form__label(for="homeInputKeeplogin") ログイン状態を保存する


            .form__group
                button.btn.btn--primary.btn--block(type="submit" ng-disabled="form.$invalid") ログイン
            div.text-muted.text-small
                a(ui-sref="reactivation") 認証メールの再送信
            hr
            .v-spacer
            div
                a.btn.btn--primary.btn--block.btn--ghost(ui-sref="signup") ユーザー登録する

    .hero__welcome(ng-if="Auth.active()")
        h1.hero__welcome__title HOKUI.NET
        .hero__welcome__elocution
            h3 お知らせ
            table.table.table--bordered.no-mb(ng-class="{'table--condensed': Responsive.xs}")
                tr(ng-repeat="news in newss.original")
                    th(style="width: 160px") {{news.created_at | date:'yyyy年M月d日'}}
                    td
                        a(ui-sref="news.detail({id: news.id})") {{news.title}}
            p.text-right
                a(ui-sref="news") お知らせ一覧
