h1 パスワードの変更
p
    a(ui-sref="profile") プロフィールに戻る

form.form.row(role="form" name="changePassword" ng-submit="performChangePassword(changePassword.$valid)" novalidate)
    .form__group
        .col--sm-4
            label.form__label(for="resetCurrentPassword") 現在のパスワード
        .col--sm-8
            input.form__control(
                type="password"
                name="currentPassword"
                ng-model="currentPassword"
                required
                id="resetCurrentPassword"
                force-invalid="errors.current_password"
                ng-change="errors.current_password = null"
                placeholder="現在のパスワード")
            div
                .form__error(ng-if="!!errors.current_password" ng-repeat="error in errors.current_password") {{error}}

    hr

    .form__group
        .col--sm-4
            label.form__label(for="password") 新しいパスワード
        .col--sm-8
            input.form__control(
                type="password"
                name="password"
                ng-model="password"
                required
                minlength="4"
                id="password"
                placeholder="新しいパスワード")
            div(ng-show="changePassword.changePassword.$dirty")
                .form__error(ng-show="!changePassword.changePassword.$error.required && changePassword.changePassword.$error.minlength") 短すぎます

    .form__group
        .col--sm-4
            label.form__label(for="resetReenteredPassword") パスワードの確認
        .col--sm-8
            input.form__control(
                type="password"
                name="reenteredPassword"
                ng-model="reenteredPassword"
                required
                match="password"
                id="resetReenteredPassword"
                placeholder="もう一度パスワードを入力")
            div(ng-show="changePassword.reenteredPassword.$dirty")
                .form__error(ng-show="changePassword.reenteredPassword.$error.match") パスワードが一致しません

    hr

    .col--sm-offset-4.col--sm-8
        p
            button.btn.btn--primary(type="submit" ng-disabled="changePassword.$invalid") パスワードを変更する
