form.form(role="form" ng-submit="doSaveClassYear(classYearForm.$valid)" name="classYearForm" novalidate)
    .panel
        .panel__head
            h3.panel__head__title {{title}}
        .panel__body
            .form__group
                .col--md-2
                    label.form__label(for="yearYear") 期
                .col--md-10
                    input.form__control(
                        type="number"
                        name="year"
                        ng-model="newClassYear.year"
                        integer
                        min="91"
                        max="149"
                        required
                        ng-change="errors.year = null"
                        id="yearYear"
                        placeholder="期")
                    div(ng-show="classYearForm.year.$dirty")
                        .form__error(ng-show="classYearForm.year.$error.required") 入力必須項目です
                        .form__error(ng-show="!classYearForm.year.$error.required && classYearForm.year.$error.integer || classYearForm.year.$error.number") 整数値を入力してください
                        .form__error(ng-show="!classYearForm.year.$error.required && !classYearForm.year.$error.integer && classYearForm.year.$error.min || classYearForm.year.$error.max") 91以上149以下を入力してください
                    div
                        .form__error(ng-if="!!errors.year" ng-repeat="error in errors.year") {{error}}

        .panel__foot
            .clearfix
                .pull-left
                    div(ng-if="editing")
                        a.btn.btn-default(ui-sref="admin.year.detail({id: classYear.id})" tabindex="-1") 編集をやめる
                    div(ng-if="!editing")
                        a.btn.btn-default(ui-sref="admin.year" tabindex="-1") 一覧に戻る
                .pull-right
                    button.btn.btn--primary(type="submit" ng-disabled="year.$invalid") 保存

