.col-sm-10.col-sm-push-1.col-md-8.col-md-push-2.col-lg-6.col-lg-push-3
    
    h1.text-center パスワードのリセット
    .col-xs-12
        p
            | ログインのためのパスワードを忘れてしまった方は、こちらのフォームから
            | パスワードのリセットを行うことができます。
        p
            | 入力したメールアドレス宛にメールが送信されますので
            | 案内に従ってパスワードのリセットを完了してください。

    form.row(v-on="submit: performResetPassword($event)" autocomplete="off")

        .control-group
            .col-sm-4
                label.control-label(for="email") ELMSメールアドレス
            .col-sm-8
                input.control(
                    type="email"
                    v-model="email"
                    placeholder="example@eis.hokudai.ac.jp"
                    v-validate="required"
                    id="email")
                .control-help 登録に使用したELMSメールアドレスを入力してください
                .control-error(v-repeat="e in errors.email" v-show="errors.email")
                    | {{e}}

        .col-xs-12
            hr

        .col-sm-8.col-sm-push-4
            button.btn.btn-yellow(type="submit" v-attr="disabled: invalid")
                span(v-show="invalid") 入力に不備があります
                span(v-show="valid") パスワードをリセット
