h1 プロフィールの編集
p
    a(ui-sref="profile") プロフィールに戻る
p.text-small
    | 氏名・ELMSメールアドレスの変更を行いたい場合はお手数ですが
    span(ng-bind-html="'hokui.net@gmail' | linky")
    | までご連絡ください。

form.form.row(role="form" name="profile" ng-submit="saveProfile(profile.$valid)" novalidate)
    .form__group
        .col--sm-4
            label.form__label(for="profileFamilyName") 苗字
        .col--sm-8
            input.form__control(
                type="text"
                name="family_name"
                ng-model="newUser.family_name"
                required
                disabled
                id="profileFamilyName")

    .form__group
        .col--sm-4
            label.form__label(for="profileGivenName") 名前
        .col--sm-8
            input.form__control(
                type="text"
                name="given_name"
                ng-model="newUser.given_name"
                required
                disabled
                id="profileGivenName")
    .form__group
        .col--sm-4
            label.form__label(for="profileHandleName") ニックネーム
        .col--sm-8
            input.form__control(
                type="text"
                name="handle_name"
                ng-model="newUser.handle_name"
                required
                id="profileHandleName"
                force-invalid="errors.handle_name"
                ng-change="errors.handle_name = null"
                placeholder="ニックネーム")
            div(ng-show="profile.handle_name.$dirty")
                .form__error(ng-show="profile.handle_name.$error.required") 入力必須項目です
            div
                .form__error(ng-if="!!errors.handle_name" ng-repeat="error in errors.handle_name")
                    | {{error}}
    .form__group
        .col--sm-4
            label.form__label(for="profileBirthday") 生年月日
        .col--sm-8.col--no-gutter(bind-date="newUser.birthday" date-changed="bd_changed($current)")
            .col--xs-4
                select.form__control(ng-model="$year" ng-options="year as  year+'年' for year in [] | range:1955:2000")
            .col--xs-4
                select.form__control(ng-model="$month" ng-options="month as  month+'月' for month in [] | range:1:12")
            .col--xs-4
                select.form__control(ng-model="$date" ng-options="date as  date+'日' for date in [] | range:1:$lastDate")

    .form__group
        .col--sm-4
            label.form__label(for="profileEmail") ELSMメール
        .col--sm-8
            input.form__control(
                type="email"
                name="email"
                ng-model="newUser.email"
                disabled
                id="profileEmail")
            div(ng-show="profile.email.$dirty")
                .form__error(ng-show="profile.email.$error.required") 入力必須項目です
                .form__error(ng-show="profile.email.$error.email") 不正なメールアドレスです
                .form__error(ng-show="!profile.email.$error.email && profile.email.$error.pattern") ELSMメールアドレスを指定してください
            div
                .form__error(ng-if="!!errors.email" ng-repeat="error in errors.email") {{error}}

    .form__group
        .col--sm-4
            label.form__label(for="profileEmailMobile") 携帯メール（空欄可）
        .col--sm-8.tooltip.tooltip--primary(tooltip="任意" ng-class="tooltipClass()")
            input.form__control(
                type="email"
                name="email_mobile"
                ng-model="newUser.email_mobile"
                id="profileEmailMobile"
                placeholder="携帯メール")
            div(ng-show="profile.email_mobile.$dirty")
                .form__error(ng-show="profile.email_mobile.$error.email") 不正なメールアドレスです

    .form__group
        .col--sm-4
            label.form__label 期を選択
        .col--sm-8
            .col--xs-6.col--sm-4.col--sm-3.col--lg-2(ng-repeat="year in classYears.original")
                input.form__control(type="radio" ng-model="newUser.class_year_id" id="profileYear{{year.id}}" value="{{year.id}}" name="radio")
                label.form__label(for="profileYear{{year.id}}") {{year.year}}期
    hr
    .col--sm-offset-4.col--sm-8
        p
            button.btn.btn--primary(type="submit" ng-disabled="profile.$invalid") 保存する
