h1 ユーザー

loading(show="{{!users || !classYears}}")

table.table.table-condensed(v-if="users")
    tr
        th 状態
        td
            ul.list-inline.list-nomb
                li(v-repeat="statusFilters")
                    .tip(
                        v-on="click: users.filter('status', $key)"
                        v-class="'tip-active': users.filtered('status', $key)")
                        | {{$value}}
    tr(v-if="classYears")
        th 学年
        td
            ul.list-inline.list-nomb
                li
                    .tip(v-on="click: users.filter('cy', 0)" v-class="'tip-active': users.filtered('cy', 0)") すべて
                li(v-repeat="cy: classYears")
                    .tip(v-on="click: users.filter('cy', cy.id)" v-class="'tip-active': users.filtered('cy', cy.id)") {{cy.year}}期

    tr
        th 検索
        td
            input.control.control-small(
                type="search"
                v-on="input: users.filter('search', $event.target.value)"
                placeholder="HN、氏名、メールアドレスに検索をかけます")

button.btn(v-on="click: digest()")

table.table(v-if="users && classYears")
    thead
        tr
            th.clickable.nobr.unselectable(v-on="click: users.sort('id')")
                | ID&nbsp;
                i.fa(v-class="iconType('id')")
            th.text-left HN
            th.text-left 本名
            th.text-left.hidden-xs-sm Email
            th.clickable.nobr.unselectable(v-on="click: users.sort('cy')")
                | 期
                i.fa(v-class="iconType('cy')")
    
            th.clickable.nobr.unselectable(v-on="click: users.sort('status')")
                | 状態&nbsp;
                i.fa(v-class="iconType('status')")

    tr(v-repeat="user: users.transformed()" track-by="id")
        td.text-center {{user.id}}
            
        td.allbr
            a(href="/admin/user/{{user.id}}") {{user.handle_name}}
            td {{user.family_name + ' ' + user.given_name}}
        td.hidden-xs-sm {{user.email | omitDomain}}
        td.text-center
            a(href="/admin/class_year/{{user.class_year_id}}")
                | {{cyLabel(user.class_year_id)}}
                span.hidden-xs-sm 期
        td.text-center
            status-icon(user="{{user}}")
