form.form(role="form" ng-submit="doSaveSemester(semesterForm.$valid)", name="semesterForm", novalidate)
    .panel
        .panel__head
            h3 {{title}}
        .panel__body.clearfix
            .form__group
                .col--md-2
                    label.form__label(for="semesterIdentifier") 学期
                .col--md-10
                    select.form__control(
                        name="identifier"
                        ng-model="new_semester.identifier"
                        ng-options="identifier as label for (identifier, label) in identifierMap"
                        required
                        id="semesterIdentifier")
            .form__group
                .col--md-2
                    label.form__label(for="semesterClassYear") 学年
                .col--md-10
                    select.form__control(
                        name="classYear"
                        ng-model="new_semester.class_year_id"
                        ng-options="v.id as v.year for v in classYears.original()"
                        required
                        id="semesterClassYear")
            .form__group
                .col--md-2
                    label.form__label 教科
                .col--md-10
                    //- !!no validation for this!!
                    .col--sm-6.col--md-4.col--lg-3.no-gutter(ng-repeat="subject in subjects.filtered().original()")
                        input.form__control(
                            type="checkbox"
                            id="semesterSubject{{subject.id}}"
                            ng-checked="new_semester.subject_ids.indexOf(subject.id) > -1"
                            ng-click="subjectCheckboxChange(subject)")
                        label.form__label(for="semesterSubject{{subject.id}}") {{subject.title_ja}} - {{subject.title_en}}

        .panel__foot
            .clearfix
                .pull-left
                    div(ng-if="editing")
                        a.btn(ui-sref="admin.semester.detail({id: semester.id})" tabindex="-1") 編集をやめる
                    div(ng-if="!editing")
                        a.btn(ui-sref="admin.semester" tabindex="-1") 一覧に戻る
                .pull-right
                    button.btn.btn--primary(type="submit") 保存
