form.form(role="form" ng-submit="doSaveSemester(semesterForm.$valid)", name="semesterForm", novalidate)
    .panel
        .panel__head
            h3 {{title}}
        .panel__body.clearfix
            .form__group
                .col--md-2
                    label.form__label(for="semesterClassYear") 学年
                .col--md-10
                    select.form__control(
                        name="classYear"
                        ng-model="newSemester.class_year_id"
                        ng-options="v.id as v.year for v in classYears.original"
                        required
                        ng-change="errors.class_year_id = null"
                        id="semesterClassYear")
                    div(ng-show="semesterForm.classYear.$dirty")
                        .form__error(ng-show="semesterForm.classYear.$error.required") 入力必須項目です
                    div
                        .form__error(ng-if="!!errors.class_year_id" ng-repeat="error in errors.class_year_id") {{error}}
            .form__group
                .col--md-2
                    label.form__label(for="semesterIdentifier") 学期
                .col--md-10
                    select.form__control(
                        name="identifier"
                        ng-model="newSemester.identifier"
                        ng-options="identifier as label for (identifier, label) in identifierMap"
                        required
                        ng-change="errors.identifier = null"
                        id="semesterIdentifier")
                    div(ng-show="semesterForm.identifier.$dirty")
                        .form__error(ng-show="semesterForm.identifier.$error.required") 入力必須項目です
                    div
                        .form__error(ng-if="!!errors.identifier" ng-repeat="error in errors.identifier") {{error}}
            .form__group
                .col--md-2
                    label.form__label 教科
                .col--md-10
                    //- !!no validation for this!!
                    .col--sm-6.col--md-4.col--lg-3.no-gutter(ng-repeat="subject in subjects.transformed()")
                        input.form__control(
                            type="checkbox"
                            id="semesterSubject{{subject.id}}"
                            ng-checked="newSemester.subject_ids.indexOf(subject.id) > -1"
                            ng-click="subjectCheckboxChange(subject)")
                        label.form__label(for="semesterSubject{{subject.id}}") {{subject.title_ja}} - {{subject.title_en}}

        .panel__foot
            .clearfix
                .pull-left
                    div(ng-if="editing")
                        a.btn(ui-sref="admin.semester.detail({id: semester.id})" tabindex="-1") 編集をやめる
                .pull-right
                    button.btn.btn--primary(type="submit" ng-disabled="semesterForm.$invalid") 保存
