form.form(role="form" ng-submit="doSaveNews(newsForm.$valid)" name="newsForm" novalidate)
    .form__group
        input.form__control(
            type="text"
            name="title"
            ng-model="newNews.title"
            required
            ng-change="errors.title = null"
            id="newsTitle"
            force-invalid="errors.title"
            placeholder="タイトル")
        div(ng-show="newsForm.title.$dirty")
            .form__error(ng-show="newsForm.title.$error.required") 入力必須項目です
        div
            .form__error(ng-if="!!errors.title" ng-repeat="error in errors.title") {{error}}

    .form__group
        textarea.form__control(
            msd-elastic="\n"
            name="text"
            ng-model="newNews.text"
            required
            ng-change="errors.text = null"
            id="news"
            style="height: 400px"
            force-invalid="errors.text")
        div(ng-show="newsForm.text.$dirty")
            .form__error(ng-show="newsForm.text.$error.required") 入力必須項目です
        div
            .form__error(ng-if="!!errors.text" ng-repeat="error in errors.text") {{error}}

    .clearfix
        .pull-left
            div(ng-if="editing")
                a.btn(ui-sref="admin.news.detail({id: news.id})" tabindex="-1") 編集をやめる
        .pull-right
            button.btn.btn--primary(type="submit" ng-disabled="newsForm.$invalid") 保存
