.topfix
.col--sm-8.col--sm-offset-2
    h1 認証メールの再送信
    p
        | ユーザー登録を行ったが認証メールが届いていない、
        | もしくはメールを削除してしまったという方は、
        | こちらのフォームより認証メールの再発行をすることができます。
    p
        | 下部フォームには必ず、
        span.text-secondary 登録に利用したメールアドレス
        | を入力してください。

    form.form(role="form" name="reactivation" ng-submit="performReactivation(reactivation.$valid)" novalidate)
        .panel
            .panel__body
                .form__group.row
                        .col--sm-4
                            label.form__label(for="reactivationEmail") ELSMメールアドレス
                        .col--sm-8
                            input.form__control(
                                type="email"
                                name="email"
                                ng-model="email"
                                required
                                id="reactivationEmail"
                                placeholder="example@eis.hokudai.ac.jp")
            .panel__foot
                .row
                    .col--sm-8.col--sm-offset-4
                        button.btn.btn--primary(type="submit" ng-disabled="reactivation.$invalid") 認証メールを再発行する
